In [1]:
print "Hello world"

Hello world

In [2]:
import pandas as pd
import numpy as np

In [9]:
expedia_train = pd.read_csv("train.csv")
# print expedia_train.head(5)

In [ ]:
#Get columns from train
columns = expedia_train.columns
# Analyze features size (if categorical or not)
for col in columns:
    print(col)
    print(len(set(expedia_train[col])))
    print(79*'*')

In [49]:
expedia_destin = pd.read_csv("destinations.csv")
expedia_destin.head(5)

,srch_destination_id,d1,d2,d3,d4,d5,d6,d7,d8,d9,d10,d11,d12,d13,d14,...,d135,d136,d137,d138,d139,d140,d141,d142,d143,d144,d145,d146,d147,d148,d149
0,0,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-1.897627,-2.198657,-2.198657,-1.897627,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,...,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657
1,1,-2.181690,-2.181690,-2.181690,-2.082564,-2.181690,-2.165028,-2.181690,-2.181690,-2.031597,-2.181690,-2.181690,-2.181690,-2.181690,-2.181690,...,-2.181690,-2.181690,-2.148982,-2.181690,-2.181690,-2.165028,-2.181690,-2.165028,-2.181690,-2.181690,-2.165028,-2.181690,-2.181690,-2.181690,-2.181690
2,2,-2.183490,-2.224164,-2.224164,-2.189562,-2.105819,-2.075407,-2.224164,-2.118483,-2.140393,-2.224164,-2.209855,-2.224164,-2.110723,-2.186008,...,-2.224164,-2.224164,-2.214572,-2.186008,-2.191569,-2.224164,-2.224164,-2.196379,-2.224164,-2.192009,-2.224164,-2.224164,-2.224164,-2.224164,-2.057548
3,3,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.115485,-2.177409,-2.177409,-2.177409,-2.177409,-2.161081,-2.177409,-2.177409,-2.177409,...,-2.177409,-2.177409,-2.115485,-2.177409,-2.161081,-2.161081,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409
4,4,-2.189562,-2.187783,-2.194008,-2.171153,-2.152303,-2.056618,-2.194008,-2.194008,-2.145911,-2.194008,-2.089094,-2.194008,-2.155205,-2.070995,...,-2.194008,-2.194008,-2.151470,-2.194008,-2.163242,-2.187356,-2.194008,-2.191779,-2.194008,-2.194008,-2.185161,-2.194008,-2.194008,-2.194008,-2.188037

In [5]:
expedia_test = pd.read_csv("test.csv")
print expedia_test.head(5)

   id            date_time  site_name  posa_continent  user_location_country  \
0   0  2015-09-03 17:09:54          2               3                     66
1   1  2015-09-24 17:38:35          2               3                     66
2   2  2015-06-07 15:53:02          2               3                     66
3   3  2015-09-14 14:49:10          2               3                     66
4   4  2015-07-17 09:32:04          2               3                     66

   user_location_region  user_location_city  orig_destination_distance  \
0                   174               37449                  5539.0567
1                   174               37449                  5873.2923
2                   142               17440                  3975.9776
3                   258               34156                  1508.5975
4                   467               36345                    66.7913

   user_id  is_mobile      ...          srch_ci     srch_co srch_adults_cnt  \
0        1          1      ...       2016-05-19  2016-05-23               2
1        1          1      ...       2016-05-12  2016-05-15               2
2       20          0      ...       2015-07-26  2015-07-27               4
3       28          0      ...       2015-09-14  2015-09-16               2
4       50          0      ...       2015-07-22  2015-07-23               2

  srch_children_cnt  srch_rm_cnt  srch_destination_id  \
0                 0            1                12243
1                 0            1                14474
2                 0            1                11353
3                 0            1                 8250
4                 0            1                11812

   srch_destination_type_id  hotel_continent  hotel_country  hotel_market
0                         6                6            204            27
1                         7                6            204          1540
2                         1                2             50           699
3                         1                2             50           628
4                         1                2             50           538

[5 rows x 22 columns]

In [18]:
print pd.unique(expedia_train["hotel_cluster"].values)
print (pd.unique(expedia_train["hotel_cluster"].values)).size

[ 1 80 21 92 41 69 70 98 10 18 28 25  2 16 94 77 24 58 36 82 46 30 29 57 85
  5 59 62 81  6 53  8 73 26 95 13 42  9 55 91 72 65 56 68 75 38 67 78 43 37
 99 35 20 90 50 22 64 60 11 97 89 83 14 51 15 40 45 84 54 76 17 49 32  7 88
 79  4 39 47 19 33 48 93  0 34 63 96 44  3 12 86 71 61 66 52 87 31 27 23 74]
100

In [25]:
a = pd.DataFrame(np.random.randint(0,100,size=(100, 4)), columns=list('ABCD'))
# print a.head(5)

# idx = a["A"]<=20
# print a[idx]
print a.dropna(axis=1).shape

(100, 4)

In [27]:
print expedia_train.shape
expedia_train["orig_destination_distance"].fillna(expedia_train["orig_destination_distance"].mean(), inplace=True)
expedia_train.dropna(axis=1, inplace=True)
print expedia_train.shape
idx = expedia_train["is_booking"]==1
expedia_train = expedia_train[idx]
print expedia_train.shape

(37670293, 22)
(37670293, 22)
(3000693, 22)

In [92]:



# Import the linear regression class
from sklearn.linear_model import LinearRegression
# Sklearn also has a helper that makes it easy to do cross validation
from sklearn.cross_validation import KFold

predictors = ["user_location_country", "orig_destination_distance",
              "srch_destination_id",
              "hotel_continent",
             "hotel_country","hotel_market"]

# ["orig_destination_distance",
#               "srch_destination_id",
#               "srch_destination_type_id", "hotel_continent",
#              "hotel_country","hotel_market"]

# ["site_name", "posa_continent", 
#               "user_location_country", "user_location_region",
#               "user_location_city", "orig_destination_distance",
#               "is_mobile", "is_package", "channel", "srch_adults_cnt",
#               "srch_children_cnt", "srch_rm_cnt", "srch_destination_id",
#               "srch_destination_type_id", "hotel_continent",
#              "hotel_country","hotel_market"]


alg = LinearRegression()

kf = KFold(expedia_train.shape[0], n_folds=3, random_state=1)
predictions = []

for train, test in kf:
    # The predictors we're using the train the algorithm.  Note how we only take the rows in the train folds.
    train_predictors = (expedia_train[predictors].iloc[train,:])
    print("How many happened so far bro?")
    # The target we're using to train the algorithm.
    train_target = expedia_train["hotel_cluster"].iloc[train]
    # Training the algorithm using the predictors and target.
    alg.fit(train_predictors, train_target)
    # We can now make predictions on the test fold
    test_predictions = alg.predict(expedia_train[predictors].iloc[test,:])
    predictions.append(test_predictions)
print "We are done training and prediction"
predictions = np.concatenate(predictions, axis=0)
print "Size of predictions: "
print predictions.size
print expedia_train.shape[0]

How many happened so far bro?
How many happened so far bro?
How many happened so far bro?
We are done training and prediction
Size of predictions:
3000693
3000693

In [93]:
import scipy.stats as stat 
print stat.describe(predictions)

DescribeResult(nobs=3000693, minmax=(44.111723142995849, 55.145349761313184), mean=47.690749796782981, variance=1.7534025647512681, skewness=0.628041344263907, kurtosis=0.9454505461709846)

In [94]:
import numpy as np

# The predictions are in three separate numpy arrays.  Concatenate them into one.  
# We concatenate them on axis 0, as they only have one axis.


print predictions[1:10]
# print predictions.dtype
# print predictions.size
# print expedia_train.shape[0]
rounded_predictions = np.around(predictions);

# rounded_predictions = np.zeros(predictions.shape[0])

# print(predictions==titanic["Survived"])

accuracy = (sum(rounded_predictions==expedia_train["hotel_cluster"])*1.0)/rounded_predictions.shape[0]
print(accuracy)

[ 47.33586466  45.8176219   45.47623222  48.55460517  48.55460517
  48.55460517  49.97528791  49.84843135  49.29501408]
0.0216656618988

In [87]:
testdata = pd.read_csv("test.csv")

print testdata.shape
testdata["orig_destination_distance"].fillna(testdata["orig_destination_distance"].mean(), inplace=True)
testdata.dropna(axis=1, inplace=True)
print expedia_train.shape
print testdata.shape

(2528243, 22)
(3000693, 22)
(2528243, 20)

In [43]:
print expedia_train.shape
print testdata.shape

(3000693, 22)
(2528243, 20)

In [44]:
pd.set_option("display.max_rows",999)

testdata.head()

,id,date_time,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,is_package,channel,srch_adults_cnt,srch_children_cnt,srch_rm_cnt,srch_destination_id,srch_destination_type_id,hotel_continent,hotel_country,hotel_market
0,0,2015-09-03 17:09:54,2,3,66,174,37449,5539.0567,1,1,0,3,2,0,1,12243,6,6,204,27
1,1,2015-09-24 17:38:35,2,3,66,174,37449,5873.2923,1,1,0,10,2,0,1,14474,7,6,204,1540
2,2,2015-06-07 15:53:02,2,3,66,142,17440,3975.9776,20,0,0,1,4,0,1,11353,1,2,50,699
3,3,2015-09-14 14:49:10,2,3,66,258,34156,1508.5975,28,0,1,10,2,0,1,8250,1,2,50,628
4,4,2015-07-17 09:32:04,2,3,66,467,36345,66.7913,50,0,0,0,2,0,1,11812,1,2,50,538

In [48]:
pd.set_option("display.max_rows",999)

print expedia_train["channel"].head(5)
print expedia_train["srch_adults_cnt"].head(5)

1     9
20    4
27    9
72    9
79    1
Name: channel, dtype: int64
1     2
20    2
27    2
72    2
79    3
Name: srch_adults_cnt, dtype: int64

In [88]:
#Creating a submission file 


testpredictions = alg.predict(testdata[predictors])
print testpredictions.shape


testpredictions = testpredictions.round()


# Create a new dataframe with only the columns Kaggle wants from the dataset.
submission = pd.DataFrame({
        "id": testdata["id"],
        "hotel_cluster": testpredictions
    })


csvfile = submission.to_csv("kaggle.csv", header=True, index=False, float_format='%.f',columns=["id","hotel_cluster"])
print submission.head(5)

(2528243,)
   hotel_cluster  id
0           46.0   0
1           49.0   1
2           50.0   2
3           48.0   3
4           48.0   4

In [3]:
from sklearn import cross_validation
from sklearn.linear_model import LogisticRegression

predictors = ["srch_destination_id","hotel_market"]

# Initialize the algorithm class
alg = LogisticRegression(random_state=1)

# Train the algorithm using all the training data
alg.fit(expedia_train[predictors], expedia_train["hotel_cluster"])

predictions = alg.predict(expedia_train[predictors])
predictions = predictions.round()

In [3]:
from sklearn.naive_bayes import GaussianNB

expedia_train = pd.read_csv("train.csv")
# print expedia_train.head(5)

gnb = GaussianNB()

predictors = ["srch_destination_id","hotel_market"]

# Train the algorithm using all the training data
gnb.fit(expedia_train[predictors], expedia_train["hotel_cluster"])

expedia_train_17 = pd.read_csv("train.17.csv")

predictions = gnb.predict(expedia_train_17[predictors])

predictions = predictions.round()



# Initialize the algorithm class
# alg = LogisticRegression(random_state=1)

# # Train the algorithm using all the training data
# alg.fit(expedia_train[predictors], expedia_train["hotel_cluster"])
# print "done fitting"
# predictions = alg.predict(titanic_train[predictors])
print "done predicting train set"
accuracy = (sum(predictions==expedia_train_17["hotel_cluster"])*1.0)/expedia_train_17.shape[0]
print accuracy

# Make predictions using the test set.
# predictions = alg.predict(titanic_test[predictors]

done predicting train set
0.0526596681762

In [6]:
print predictions.head(5)

AttributeError: 'numpy.ndarray' object has no attribute 'head'

In [8]:

# Initialize the algorithm class
# alg = LogisticRegression(random_state=1)

# # Train the algorithm using all the training data
# alg.fit(expedia_train[predictors], expedia_train["hotel_cluster"])
# print "done fitting"
# predictions = alg.predict(titanic_train[predictors])
print "done predicting train set"
accuracy = (sum(predictions==expedia_train["hotel_cluster"])*1.0)/predictions.shape[0]
print accuracy

# Make predictions using the test set.
# predictions = alg.predict(titanic_test[predictors]

done predicting train set
0.0319595427837

In [6]:

# Make predictions using the test set.
test_pred = gnb.predict(expedia_test[predictors])
print test_pred.shape


test_pred = test_pred.round()

(2528243,)

NameError: name 'testdata' is not defined

In [7]:


# Create a new dataframe with only the columns Kaggle wants from the dataset.
submission = pd.DataFrame({
        "id": expedia_test["id"],
        "hotel_cluster": test_pred
    })


csvfile = submission.to_csv("kaggle_gnb.csv", header=True, index=False, float_format='%.f',columns=["id","hotel_cluster"])
print submission.head(5)

   hotel_cluster  id
0             65   0
1             65   1
2             91   2
3              1   3
4             91   4

In [ ]:




# Make predictions using the test set.
predictions = alg.predict(testdata[predictors])
print predictions.shape


testpredictions = predictions.round()


# Create a new dataframe with only the columns Kaggle wants from the dataset.
submission = pd.DataFrame({
        "id": testdata["id"],
        "hotel_cluster": predictions
    })


csvfile = submission.to_csv("kaggle_logistic.csv", header=True, index=False, float_format='%.f',columns=["id","hotel_cluster"])
print submission.head(5)
)